<!DOCTYPE html>
<html>
  <body>
    <h1>Message detail</h1>
    <p><strong>Author: </strong><%=message.user %></p>
     <p><strong>Message: </strong><%=message.text %></p>
      <p><strong>Added: </strong><%=message.added %></p>
      <a href="/">Back to list</a>
    </form>
  </body>
</html>
