<!DOCTYPE html>
<html>
  <body>
    <h1>Add a new message</h1>
    <form method="POST" action="/new">
      <p>
        Author's name: 
        <input type="text" name="user" required>
      </p>
      <p>
        Message: 
        <input type="text" name="text" required>
      </p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>